<div class="main-content">
    <div class="intro" id="intro">
        <img src="/photo_2025.jpg" alt="prof-photo">
        <div class="intro-text">
            <span class="text-typing">Hola, soy Kevin Pabón, desarrollador de software... </span>
            <p>Ingeniero de Sistemas apasionado por la tecnología y por el continuo aprendizaje.</p>
        </div>
    </div>

    <div class="about-me" id="about-me">
        <h2>Sobre mi</h2>
        <p>
            Ingeniero en Sistemas, con habilidades en la creación y gestión de
            aplicaciones Java, Javascript y Python. Me destaco por mi alto interés en el aprendizaje continuo, la mejora
            constante de mis habilidades y la contribución significativa en cada proyecto en el que participo. He
            desarrollado proyectos en entornos colaborativos, lo que me ha permitido fortalecer mi capacidad para
            trabajar en equipo y comunicarme efectivamente con compañeros de distintas áreas. Estoy entusiasmado
            por aplicar mis conocimientos técnicos y mi pasión por la tecnología en un entorno profesional, donde
            pueda seguir creciendo y aportando valor.
        </p>
    </div>

    <div class="projects">
        <h2>Proyectos</h2>
        <div class="project">
            <img src="https://img.icons8.com/ios/50/000000/java-coffee-cup-logo--v1.png" alt="Java">
            <h3>Proyecto 1</h3>
            <p>Descripción del proyecto 1</p>
        </div>
        <div class="project">
            <img src="https://img.icons8.com/color/48/000000/javascript--v1.png" alt="Javascript">
            <h3>Proyecto 2</h3>
            <p>Descripción del proyecto 2</p>
        </div>
        <div class="project">
            <img src="https://img.icons8.com/color/48/000000/python--v1.png" alt="Python">
            <h3>Proyecto 3</h3>
            <p>Descripción del proyecto 3</p>
        </div>
    </div>

    <div class="skills">
        <h2>Habilidades técnicas</h2>
        <div class="skill">
            <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo--v1.png" alt="Java">
            <p>Java</p>
        </div>
        <div class="skill">
            <img src="https://img.icons8.com/color/48/000000/javascript--v1.png" alt="Javascript">
            <p>Javascript</p>
        </div>
        <div class="skill">
            <img src="https://img.icons8.com/color/48/000000/python--v1.png" alt="Python">
            <p>Python</p>
        </div>
    </div>

    <div class="contact" id="contact">
        <h2>Contacto</h2>
        <form action="">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Correo</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Mensaje</label>
            <textarea id="message" name="message" required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>

</div>


<div class="social-icons">
    <a href="mailto:kpaboncarvajal@gmail.com">
        <img src="https://img.icons8.com/fluency/48/new-post.png" alt="Correo">
    </a>
    <a href="https://www.linkedin.com/in/kbn055/">
        <img src="https://img.icons8.com/fluency/48/linkedin.png" alt="LinkedIn">
    </a>
    <a href="https://github.com/Kbn05">
        <img src="https://img.icons8.com/fluency/48/github.png" alt="GitHub">
    </a>
</div>
